@import '../../assets/styles/variables';

.ux-showcase-item {
  display: flex;
  flex-direction: column;
  min-width: 170px;
  min-height: 290px;
  max-width: 237px;
  max-height: 420px;
  font-family: $base-font;
  text-align: left;
  padding: $padding-small;
  border-radius: $border-radius-sm;

  &:hover {
    box-shadow: 10px 10px 5px rgba($color: #000000, $alpha: 0.1);
    border: solid 1px $light-border-default;
    transform: scale(1.1, 1.1);
    transition: all 0.3s;

    .btn {
      height: 36px;
      color: white;
      background-color: #55cbaf;
    }
  }

  .image-container {
    position: relative;
    width: 100%;
    height: auto;

    .img {
      object-fit: cover;
      max-width: 100%;
      height: 100%;
      border-radius: $border-radius-sm;
    }
  }

  .btn {
    background-color: #4fbfa4;
    color: transparent;
    text-decoration: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: absolute;
    bottom: 3px;
    left: 0;
    right: 0;
    transition: height 0.3s;
    border-radius: $border-radius-sm;
    height: 0px;
  }

  .card-infos {
    display: flex;
    flex-direction: column;

    .name {
      font-size: $font-title-mob;
      margin: 6px 0;
    }

    .payment {
      display: flex;
      flex-direction: column;
      font-size: $font-text-mob;

      .prices {
        display: flex;
        flex-direction: column;

        .price-compare {
          color: #797979;
          text-decoration: line-through;
        }

        .price {
          font-weight: 700;
        }
      }
    }
  }

  @media (min-width: $tablet-small) {
    min-width: 230px;

    .card-infos {
      .name {
        font-size: 18px;
        margin: 9px 0;
      }

      .payment {
        font-size: $font-text-desk;

        .prices {
          flex-direction: row;
          align-items: flex-end;
          gap: $gap-extra-small;

          .price {
            font-size: 18px;
          }
        }
      }
    }
  }
}
