:host{
  display: block;
}

.ux-banners{
  display: flex;
  gap: 20px;
  width: 100%;
  flex-wrap: wrap;
}

.ux-banners > .link {
  min-width: 100px;
  max-width: 300px;
}

.ux-banners > .link > .img{
  display: block;
  width: 100%;
}
