@import '../../assets/styles/variables';

.ux-showcase {
  width: 100%;
  padding: $padding-medium;
  gap: $gap-small $gap-extra-small;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  .infos {
    display: flex;
    flex-direction: column;

    .title {
      font-size: $font-title-mob;
    }
  }

  .showcase-container {
    display: flex;
    align-items: center;
    margin: 30px;

    .control {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #ffffff;
      border-radius: $border-radius-rounded;
      border: none;
      width: 40px;
      height: 40px;

      &:hover {
        background-color: #00b2ff;
        .icon svg path {
          fill: #ffffff;
        }
      }

      .icon {
        width: 10px;
        height: 16px;
      }
    }

    .itens-container {
      display: flex;
      gap: $gap-extra-small;
    }
  }
}
