@import '../../../node_modules/@splidejs/splide/src/css/template/default/index.scss';

.ux-carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  max-height: 800px;

  li {
    justify-content: center;
    align-items: center;
  }
}
