* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.ux-testimonials {
  width: 100%;
  padding: $padding-large $padding-medium;
  display: flex;
  flex-direction: column;
  gap: $gap-small;
  font-family: $base-font;
  color: $text-color-default;

  .infos {
    display: flex;
    flex-direction: column;
    gap: $gap-extra-small;

    .title {
      font-family: $base-font;
      font-size: $font-title-mob;
    }

    .description {
      font-size: $font-text-mob;
      margin: 10px 0;
    }
  }

  .testimonials-container {
    display: flex;
    flex-direction: column;
    row-gap: 40px;

    .testimonial {
      .icon-container {
        width: 30px;
        height: 30px;
      }

      .message {
        padding: 15px 0;
        font-size: $font-text-mob;
        line-height: 1.6;
      }
    }

    .customer {
      display: flex;
      gap: 15px;
      align-items: center;

      .customer-icon {
        border-radius: $border-radius-rounded;
        max-width: 75px;
      }
    }
  }
}

@include responsive(tablet) {
  .ux-testimonials {
    gap: $gap-large;

    .testimonials-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: $gap-extra-small $gap-large;
    }

    .message {
      padding: $padding-small 0;
    }

    .customer {
      column-gap: $gap-small;
    }
  }
}
