@import '../../assets/styles/variables';
@import '../../assets/styles/mixins/button';

* {
  margin: 0;
  box-sizing: border-box;
  font-family: $base-font;
}

.ux-text-image {
  width: 100%;
  padding: $padding-medium;

  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    row-gap: $gap-medium;

    .img {
      width: 100%;
    }

    .infos {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      row-gap: $gap-small;

      .title {
        font-size: $font-title-mob;
        line-height: 110%;
      }

      .description {
        font-size: $font-text-mob;
        line-height: 160%;
      }
    }

    .button {
      @include button(#3b9be0, #fff);
      text-decoration: none;
    }
  }
}

@media (min-width: $tablet-medium) {
  .ux-text-image {
    padding: 0 $padding-extra-large;
    max-height: 768px;

    .container {
      flex-direction: row;
      align-items: center;
      max-height: 768px;
      column-gap: $gap-extra-large;

      &.right {
        order: 1;

        .image-container {
          order: 0;
        }
      }

      &.left {
        order: 0;

        .image-container {
          order: 1;
        }
      }

      .image-container {
        display: flex;
        align-items: center;
        justify-content: center;

        .img {
          max-height: 100%;
        }
      }

      .infos {
        max-width: 45%;
        row-gap: $gap-medium;

        .title {
          font-size: $font-title-desk;
        }

        .description {
          font-size: $font-text-desk;
        }

        .action-button {
          width: 260px;
        }
      }
    }
  }
}

@media (min-width: $desktop-large) {
  .ux-text-image {
    display: flex;
    align-items: center;
    justify-content: center;

    .container {
      align-items: center;
      justify-content: center;
      max-width: $desktop-large;
    }
  }
}
