//breakpoints
$mobile-small: 320px;
$mobile-medium: 375px;
$mobile-large: 425px;
$tablet-small: 768px;
$tablet-medium: 960px;
$tablet-large: 1024px;
$desktop-small: 1280px;
$desktop-medium: 1366px;
$desktop-large: 1440px;

// padding

$padding-extra-small: 10px;
$padding-small: 20px;
$padding-medium: 30px;
$padding-large: 50px;
$padding-extra-large: 100px;

//flex-gaps
$gap-extra-small: 10px;
$gap-small: 20px;
$gap-medium: 30px;
$gap-large: 50px;
$gap-extra-large: 110px;

//font-family
$base-font: sans-serif;

//font-size
$font-title-desk: 30px;
$font-title-mob: 20px;
$font-text-desk: 16px;
$font-text-mob: 14px;

//borders
$border-radius-none: 0px;
$border-radius-xs: 2px;
$border-radius-sm: 4px;
$border-radius-md: 8px;
$border-radius-rounded: 100%;

$light-border-default: #DEE2E6
